.slider {
    width: auto;
    height: 350px;
    margin: 20px auto;
    position: relative;
}

.slide1,
.slide2,
.slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1 {
    background: url(../img/dddbox.jpg)no-repeat center;
    background-size: cover;
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
}

.slide2 {
    background: url(../img/dddbox2.jpg)no-repeat center;
    background-size: cover;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}

.slide3 {
    background: url(../img/dddbox3.jpg)no-repeat center;
    background-size: cover;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 1
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #3DB0E2;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.navbar-btn {
    margin-top: 12px;
    font-weight: 700;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 20px;
    color: black;
}

.navbar-logo {
    margin-top: 15px;
    margin-left: 15px;
    width: 130px;
}

.navbar {
    height: 70px;
}

.nav-font {
    font-family: Helvetica;
    font-weight: bold;
    color: black;
}

.nav>li>a {
    padding-top: 27px;
}

.navbar-toggle {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 13px;
}

.navbar-collapse {
    background-color: #f8f8f8;
}

.navbar-collapse .navbar-nav {
    margin: 0px;
}

.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background: url(../img/testimage4.jpg) no-repeat center center;
    background-size: cover;
}

.typewrite {
    margin-top: 30px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 4.75em;
    color: white;
}

.intro-divider {
    width: 800px;
    border-top: 2px solid #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message>h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    background: url(../img/contact-bg.jpg) no-repeat center center;
    background-size: cover;
}

.concretebanner {
    padding: 100px 0;
    background: url(../img/concrete.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
    color: white;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 10px 0 50px;
    text-align: center;
}

@media only screen and (min-width: 490px),
only screen and (min-device-width: 490px) {
    p.copyright {
        float: right;
    }
}

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
    p.copyright {
        text-align: center;
    }
}

.policies h1,
h2,
h3,
h4 {
    color: #34AFE4;
}

.about-style h1 {
    color: #34AFE4;
}

.about-style h2,
h3,
h4 {
    font-family: "Ubuntu";
    color: black;
}

.policies p {
    font-family: TimesNewRoman, 'Times New Roman';
}

.icon-centre {
    text-align: center;
}

#mc_embed_signup {
    border: none;
    text-align: center;
    width: 100%;
}


/* Signup form container */

.mc-field-group {
    display: inline-block;
}


/* positions input field horizontally */

#mce-EMAIL {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    border: 2px solid #ABB0B2;
    color: #343434;
    background-color: #fff;
    padding: .7em 9em .7em 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
}


/* Input Styles */

.clear {
    display: inline-block;
}


/* positions button horizontally in line with input */

.button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: .03em;
    color: #fff;
    background-color: #2386C8;
    padding: .7em 2em;
    border: 2px solid #2386C8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
}


/* Button Styles */

:-webkit-input-placeholder {
    color: #ABB0B2;
}


/* WebKit browsers */

:-moz-placeholder {
    color: #ABB0B2;
}


/* Mozilla Firefox 4 to 18 */

::-moz-placeholder {
    color: #ABB0B2;
}


/* Mozilla Firefox 19+ */

:-ms-input-placeholder {
    color: #ABB0B2;
}


/* Internet Explorer 10+ */

@media (max-width: 768px) {
    /* positions input field and button underneath each other with 100% width for tablet and mobile */
    .mc-field-group {
        display: block;
        max-width: 100%;
    }
    #mce-EMAIL {
        padding: .7em 0 .7em 1em;
        width: 96%;
        margin: 0;
    }
    .clear {
        display: block;
        width: 100%
    }
    .button {
        width: 100%;
        margin: .5em 0 0 0;
    }
}

.list-inline {
    padding: 10px 0;
}

p.copyright {
    margin: 15px 0 0;
}

a i.fa {
    display: inline-block;
    font-style: normal;
    text-align: center;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

.blackdiv {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
    width: auto;
}

.divbox {
    background-color: #34AFE4;
    width: 500px;
    height: 500px;
}

.curve {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}

.content {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 0;
    margin-bottom: 30px;
    font-family: 'raleway';
    padding: 13px;
}

.content li:first-child,
.content li:last-child {
    padding: 20px 20px 0px 13px;
}

.content li {
    list-style: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

.content big {
    font-size: 36px;
}

.pricing li:nth-last-child(2) {
    padding: 30px 13px;
}

.contentb {
    text-align: center;
    font-size: 14px;
    padding-left: 0;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'raleway';
    padding: 13px;
}

.contentb li:first-child,
.contentb li:last-child {
    padding: 20px 20px 0px 13px;
}

.contentb li {
    list-style: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

.contentb big {
    font-size: 36px;
}


/* Glyphicon Green */

span.glyphicon-leaf {
    font-size: 2.9em;
    color: #5cb85c;
    display: block;
    margin: auto;
    margin-bottom: 7px;
}


/* Title Color Green*/

.p-green big,
.p-green h3 {
    color: #5cb85c;
}


/* Button Color Green*/

.p-green button {
    background: #5cb85c;
}


/* Glyphicon Yellow */

span.glyphicon-globe {
    font-size: 2.9em;
    color: #f0ad4e;
    display: block;
    margin: auto;
    margin-bottom: 7px;
}


/* Button Color Yellow */

.p-yel button {
    background: #f0ad4e;
}


/* Title Color Yellow */

.p-yel big,
.p-yel h3 {
    color: #f0ad4e;
}


/* Glyphicon blue */

span.glyphicon-stats {
    font-size: 2.9em;
    color: #428bca;
    display: block;
    margin: auto;
    margin-bottom: 7px;
}


/* Button Color blue */

.p-red button {
    background: #428bca;
}


/* Title Color blue */

.p-red big,
.p-red h3 {
    color: #428bca;
}


/* Glyphicon Red */

span.glyphicon-briefcase {
    font-size: 2.9em;
    color: #d9534f;
    display: block;
    margin: auto;
    margin-bottom: 7px;
}


/* Button Color Red */

.p-blue button {
    background: #d9534f;
}


/* Title Color Red */

.p-blue big,
.p-blue h3 {
    color: #d9534f;
}

.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/* --------- END PRICING TABLES BOOTSTRAP CSS ----------*/

.btn-outline {
    color: inherit;
    transition: all .5s;
    background-color: transparent;
}

.btn-primary.btn-outline {
    color: #428bca;
    background-color: transparent;
}

.btn-success.btn-outline {
    color: #5cb85c;
    background-color: transparent;
}

.btn-info.btn-outline {
    color: #5bc0de;
    background-color: transparent;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
    background-color: transparent;
}

.btn-danger.btn-outline {
    color: #d9534f;
    background-color: transparent;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-outline.btn-lg {
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-danger {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
    color: transparent;
}

.btn.btn-round {
    border-radius: 250px;
    border-radius: 100%;
    padding: 2px;
    margin: 0 4px 0 0;
    top: 0;
    font-size: 10px;
    text-align: center;
    background-color: transparent;
    max-width: 50px;
    max-height: 100%;
}

.text {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

#danderdee-logo-big {
    padding-top: 50px;
}

.padding-row {
    margin-top: 30px;
}

.pic-space {
    margin-top: 10px;
}

.future-link {
    opacity: 0.25;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
}

.campaignbg {
    background-color: #99FF99
}

.darkbg {
    background-color: #bbbfc2
}

.padding-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bgcolor4 {
    background: #daffa0;
}

.bgcolor3 {
    background: #42c8f4;
}


/**************************
Example body text
*************************/

.textbox-component {
    position: relative;
}

.bgcolor2 {
    background: #000000;
}

.padding80 {
    padding: 80px;
}

.divider50 {
    height: 50px;
}

.whitetext p,
h1,
h3 {
    color: white;
}


/**************************
About us 
*************************/

.bgcolor1 {
    background: #fffcf2;
}

.padding80 {
    padding: 80px;
}

.divider10 {
    height: 50px;
}

hr {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0px;
}

nav.nav-justified>li>a {
    position: relative;
}

.nav.nav-justified>li>a:hover,
.nav.nav-justified>li>a:focus {
    background-color: transparent;
}

.nav.nav-justified>li>a>.quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;
}

.nav.nav-justified>li.active>a>.quote {
    opacity: 1;
}

.nav.nav-justified>li>a>img {
    box-shadow: 0 0 0 5px #13c0ba;
}

.nav.nav-justified>li>a>img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav.nav-justified>li.active>a>img,
.nav.nav-justified>li:hover>a>img,
.nav.nav-justified>li:focus>a>img {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tab-pane .tab-inner {
    padding: 30px 0 20px;
}

@media (min-width: 768px) {
    .nav.nav-justified>li>a>.quote {
        left: auto;
        top: auto right: 20px;
        bottom: 0px;
    }
}

.contact-form {
    padding: 10px;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px !important;
    color: #36A0FF;
}

.well {
    background-color: white;
}

.one {
    list-style: none;
    padding: 75px;
}

.one>li {
    background: #34afe4;
    border: 1px solid rgba(150, 150, 150, 0.29);
    -moz-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    width: 250px;
    height: 430px;
    display: inline-block;
    text-align: center;
    color: white;
}

.one>li img {
    margin-top: 60px;
}

.one>li:hover img {
    margin-top: 30px;
}

.one>li:hover {
    -moz-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
}

.one>li:hover span {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    bottom: -400px;
}

.one>li:hover h3 {
    color: rgba(255, 255, 255, 1);
    margin-top: 25px;
}

.one>li .wrapper {
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 430px;
}

.one>li span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 500px;
    width: 500px;
    background: #f79625;
    display: block;
    position: absolute;
    bottom: -300px;
    left: -125px;
}

.one>li span img {
    margin-top: 10px;
    width: 50px;
}

.one>li span:hover {
    background: #f79625;
}

.one>li h3 {
    margin-top: 40px;
    color: rgba(255, 255, 255, 1);
}

.one>li h3 em {
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    margin-top: 5px;
}

.one .social {
    list-style: none;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 10px;
}

.one .social li {
    opacity: 0;
    display: inline-block;
    padding: 5px;
}

.one>li:hover .social li {
    opacity: 0.5;
}

.one .social li a {
    cursor: pointer;
    display: block;
}

.one .social li a:hover {
    opacity: 0.5;
}

.one .social li img {
    width: 24px;
}


/* --------- TWO --------- */

.two {
    list-style: none;
    padding: 0;
    margin: 100px 0;
}

.two>li {
    background: #FFFFFF;
    border: 1px solid rgba(150, 150, 150, 0.29);
    -moz-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    width: 250px;
    height: 430px;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.two>li img {
    margin-top: 60px;
}

.two>li:hover img {
    margin-top: 30px;
}

.two>li:hover {
    -moz-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
}

.two>li:hover span {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    bottom: -400px;
}

.two>li:hover h3 {
    color: rgba(255, 255, 255, 1);
    margin-top: 25px;
}

.two>li .wrapper {
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 430px;
}

.two>li span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 500px;
    width: 500px;
    background: #BE2F41;
    display: block;
    position: absolute;
    bottom: -300px;
    left: -125px;
}

.two>li span i {
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 2px solid #fff;
    padding: 10px 30px;
    font-style: normal;
    margin-top: 10px;
    display: inline-block;
}

.two>li span:hover {
    background: #532538;
}

.two>li h3 {
    margin-top: 40px;
    color: rgba(255, 255, 255, 1);
}

.two>li h3 em {
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    margin-top: 5px;
}

.two .social {
    list-style: none;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 10px;
}

.two .social li {
    opacity: 0;
    padding: 5px;
    display: inline-block;
}

.two>li:hover .social li {
    opacity: 0.9;
}

.two .social li a {
    cursor: pointer;
    display: block;
    opacity: 1;
}

.two .social li a:hover {
    opacity: 0.5;
    margin-top: 0px;
}

.two>li:hover .social li a {
    -webkit-animation: social-show 0.5s 1;
    -moz-animation: social-show 0.5s 1;
    -o-animation: social-show 0.5s 1;
    animation: social-show 0.5s 1;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.two .social li img {
    width: 24px;
}

@-webkit-keyframes social-show {
    from {
        margin-top: 140px;
    }
    to {
        margin-top: 0px;
    }
}

@-moz-keyframes social-show {
    from {
        margin-top: 140px;
    }
    to {
        margin-top: 0px;
    }
}

@-o-keyframes social-show {
    from {
        margin-top: 140px;
    }
    to {
        margin-top: 0px;
    }
}

@keyframes social-show {
    from {
        margin-top: 140px;
    }
    to {
        margin-top: 0px;
    }
}